section#home {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/fondos/away.jpg);
    background-attachment: fixed;/** deja fijo el fondo**/
    background-size: cover;/** ajusta el fondo al maximo con cover**/
    background-position: center;
}

section#about {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/fondos/images.jpg);
    background-size: cover;
    background-position: center;
}

section#contact {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/fondos/mario.png)
                      url(../img/fondos/kuma.png)
                      url(../img/fondos/tortuga.png)
                      url(../img/fondos/fondomario.jpg);
    background-position: 30%, 88%, center,top, center ;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat ;
    background-size:20%, 20%, 10%, cover ;
    
}


